{% extends 'base.html' %}


{% block content %}
<!DOCTYPE html>
 <!-- Header-->
 <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder"> Welcome to My Django E-commerce Project </h1>
            <br/>
            <br/>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to the presentation of my Django-based E-commerce project! 
                I'm excited to showcase the features, functionality, and technical details of this application. 
                This project demonstrates the power of Django in creating a robust, scalable, and user-friendly e-commerce platform.</p>
        </div>
    </div>
</header>

{% endblock %}